.pintro {
  text-align: center;
  font-family: times 'Times New Roman', Times, serif;
  color: red;
}

body {
  background-image: url(https://bit.ly/3FMTLIT);
}

.highlighter {
  background-color: yellow;
  border: thick solid black;
}

.nohighlighter {
  background-color: transparent;
  border: transparent;
}
